# Alissa Beaderstadt: Exploratory Data Analysis Project 6

Author: Alissa Beaderstadt

Purpose: Implement Jupyter Notebook to perform exploratory data analysis (EDA) using pandas and other tools. We will use the Seaborn library to load the Car Crashes dataset.

Date: 02-17-2025

# Introduction
Welcome to my notebook! In this project, I'll be diving into the Seaborn Car Crashes dataset. The main goal is to explore the data, spot any patterns, and identify key features.

Throughout this notebook, I'll be working with libraries like Pandas, Seaborn, and Matplotlib to load, visualize, and analyze the data. By the end, we will have a clearer understanding of the leading causes of car accidents, and we will go through some cool visualizations that’ll help us make sense of it all.

Let’s start this analysis!

# Imports
Below are the necessary imports for this notebook:

In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Axes object (basic plot type returned by Seaborn)
from matplotlib.axes import Axes

# Step 1. Data Acquisition
Load the data into a pandas DataFrame:

In [13]:
# Load the dataset into a pandas DataFrame 
df = sns.load_dataset('car_crashes')

# Inspect first rows of the DataFrame
print(df.head())

   total  speeding  alcohol  not_distracted  no_previous  ins_premium  \
0   18.8     7.332    5.640          18.048       15.040       784.55
1   18.1     7.421    4.525          16.290       17.014      1053.48
2   18.6     6.510    5.208          15.624       17.856       899.47
3   22.4     4.032    5.824          21.056       21.280       827.34
4   12.0     4.200    3.360          10.920       10.680       878.41

   ins_losses abbrev
0      145.08     AL
1      133.93     AK
2      110.35     AZ
3      142.39     AR
4      165.63     CA

# Step 2. Initial Data Inspection
Display the first 10 rows of the DataFrame, check the shape, and display the data types of each column using df.head(10), df.shape, and df.dtypes:

In [14]:

print(df.head(10))
print(df.shape)
print(df.dtypes)

   total  speeding  alcohol  not_distracted  no_previous  ins_premium  \
0   18.8     7.332    5.640          18.048       15.040       784.55
1   18.1     7.421    4.525          16.290       17.014      1053.48
2   18.6     6.510    5.208          15.624       17.856       899.47
3   22.4     4.032    5.824          21.056       21.280       827.34
4   12.0     4.200    3.360          10.920       10.680       878.41
5   13.6     5.032    3.808          10.744       12.920       835.50
6   10.8     4.968    3.888           9.396        8.856      1068.73
7   16.2     6.156    4.860          14.094       16.038      1137.87
8    5.9     2.006    1.593           5.900        5.900      1273.89
9   17.9     3.759    5.191          16.468       16.826      1160.13

   ins_losses abbrev
0      145.08     AL
1      133.93     AK
2      110.35     AZ
3      142.39     AR
4      165.63     CA
5      139.91     CO
6      167.02     CT
7      151.48     DE
8      136.05     DC
9      144.18     FL
(51, 8)
total             float64
speeding          float64
alcohol           float64
not_distracted    float64
no_previous       float64
ins_premium       float64
ins_losses        float64
abbrev             object
dtype: object

# Step 3. Initial Descriptive Statistics
Use the DataFrame describe() method to display summary statistics for each column:

In [15]:
print(df.describe())

           total   speeding    alcohol  not_distracted  no_previous  \
count  51.000000  51.000000  51.000000       51.000000    51.000000
mean   15.790196   4.998196   4.886784       13.573176    14.004882
std     4.122002   2.017747   1.729133        4.508977     3.764672
min     5.900000   1.792000   1.593000        1.760000     5.900000
25%    12.750000   3.766500   3.894000       10.478000    11.348000
50%    15.600000   4.608000   4.554000       13.857000    13.775000
75%    18.500000   6.439000   5.604000       16.140000    16.755000
max    23.900000   9.450000  10.038000       23.661000    21.280000

       ins_premium  ins_losses
count    51.000000   51.000000
mean    886.957647  134.493137
std     178.296285   24.835922
min     641.960000   82.750000
25%     768.430000  114.645000
50%     858.970000  136.050000
75%    1007.945000  151.870000
max    1301.520000  194.780000